

#search_grid {
    width: 650px;
    height: 650px;
    position: relative;
}

.grid_item {
    display: block;
    border: 1px solid #bbb;
    float: left;
    line-height:12px;
    font-size: 10px;
}

.grid_item.wall {

}